.calendar {
  width: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.calendar-header {
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto; /* auto on both sides, 1fr in the middle */
  align-items: center;
}

.nav-button {
  cursor: pointer;
  font-size: 30px;
  font-weight: 800;
}

h2 {
  margin: 0; /* Remove default margin */
  text-align: center; /* Center the text within the middle column */
}

.calendar-body {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.table-header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.weekday {
  width: 100px;
  text-align: center;
  font-weight: 800;
}

.table-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

.calendar-day {
  width: 125px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-day:hover {
  background-color: #db3d44;
  border-radius: 50%;
}

.calendar-day.selected {
  background-color: #db3d44;
  border-radius: 50%;
}

.calendar-day p {
  right: 10px;
  color: #a6a6a6;
  text-align: center;
}

.calendar-day p:hover {
  color: #fff;
}

.current p {
  color: #000000;
}

.selected p {
  font-weight: bold;
  color: #fff;
}

.month-text {
  cursor: pointer;
}

.today {
  background: none !important;
}

.today p {
  color: #db3d44;
  font-weight: 800;
}